{% if page.meta.comments_archived %}
<details class="site-note">
    <summary>Comments from Disqus</summary>
    <p>As I plan to move away from disqus comment system, I am just including the screenshots of comments just so any information shared by or to the readers is retained.</p>
    <p>
      <a class="glightbox" href="../../../assets/images/disqus_comments/{{ page.meta.slug }}-dark.png#only-dark" data-type="image" data-width="auto" data-height="auto" data-desc-position="bottom"><img alt="Disqus Comments" src="../../../assets/images/disqus_comments/{{ page.meta.slug }}-dark.png#only-dark"></a>
    <a class="glightbox" href="../../../assets/images/disqus_comments/{{ page.meta.slug }}-light.png#only-light" data-type="image" data-width="auto" data-height="auto" data-desc-position="bottom"><img alt="Disqus Comments" src="../../../assets/images/disqus_comments/{{ page.meta.slug }}-light.png#only-light"></a></p>
</details>
{% endif %}
<!-- DISQUS SECTION -->
{% if page.meta.comments %}
<h2 id="__comments">
  <span class="twemoji" style="margin-right: 10px;">
    {% include ".icons/octicons/comment-discussion-24.svg" %}
  </span>
  {{ lang.t("meta.comments") }}
</h2>
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{ page.canonical_url }}";
    this.page.identifier =
      "{{ page.canonical_url | replace(config.site_url, '') }}";
  };

  /* Set up for the first time */
  if (typeof DISQUS === "undefined") {
    var script = document.createElement("script");
    script.async = true;
    script.src = "https://{{ config.extra.disqus }}.disqus.com/embed.js";
    script.setAttribute("data-timestamp", Date.now());

    /* Inject script tag */
    document.body.appendChild(script);

    /* Set up on navigation (instant loading) */
  } else {
    DISQUS.reset({
      reload: true,
      config: disqus_config,
    });
  }
</script>
{% endif %}
<!-- BLUESKY SECTION -->
{% if page.meta.bsky %}
  {% if page.meta.bluesky_url %}
  <h2 id="__comments">
    <span class="twemoji" style="margin-right: 10px;">
      {% include ".icons/fontawesome/brands/square-bluesky.svg" %}
    </span>
    {{ lang.t("meta.comments") }}
  </h2>
  <script type="module" src="{{ '/assets/js/bluesky-comments.mjs' }}"></script>
  <bluesky-comments url={{ page.meta.bluesky_url }}>
  </bluesky-comments>
  {% endif %}
{% endif %}