/* ==========================================================================
   Gold skin
   ========================================================================== */


/* Colors */
$background-color: #252a34 !default;
$text-color: #eaeaea !default;
$muted-text-color: $text-color !default;
$primary-color: #fed136 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: mix($primary-color, $primary-color, 100%) !default;
$link-color-hover: #8bc34a !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;


.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

.toc .nav__title {
    color: #f80729 !important;
}

.toc__menu a:hover {
    color: $link-color-hover !important;
}

.sidebar .author__name {
	color: $primary-color !important;
}

.site-title {
	color: $primary-color !important;
}

.author__bio {
	color: $link-color-hover !important;
}

.site-subtitle {
	color: $link-color-hover !important;
}

.archive__item a {
    color: $primary-color !important;
}

/*Image cropper div*/
.image-cropper {
   width: 220px;
   height: 220px;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
   border:2px solid #f00;
}

/* Center image inside of parent */
img.center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* For horizontal rectangles */
img.horizontal {
   height: 100%;
   width: auto;
   max-width: 9999px; /* max-content fall back */
   max-width: max-content;
}

.image-white {
	background-color: white;
}

/* custom notify boxes 
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css');*/
.notice, .notice--primary, .notice--info, .notice--success, .notice--warning, .notice--error, .notice--danger {
    padding:10px;
    margin:10px 0;
}
.notice:before, .notice--primary:before, .notice--info:before, .notice--success:before, .notice--warning:before, .notice--error:before, .notice--danger:before {
    font-family: 'Font Awesome 5 Free';
    font-style:normal;
    font-weight:900;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.notice:before {
    content:'\f05a';
}
.notice--primary:before {
    content:'\f05a';
}
.notice--info:before {
    content:'\f05a';
}
.notice--success:before {
    content:'\f00c';
}
.notice--warning:before {
    content:'\f071';
}
.notice--error:before {
    content:'\f057';
}
.notice--danger:before {
	content: '\f714';
}

.notice {
    color: #FFFFFF !important;
    background-color: $link-color-hover !important;
	border-left: 2em solid $primary-color;
}
.notice--primary {
    color: #FF0000 !important;
    background-color: $primary-color !important;
	border-left: 2em solid $link-color-hover;
}	
.notice--info {
    color: #00529B !important;
    background-color: #BDE5F8 !important;
	border-left: 2em solid #00529B;
}
.notice--success {
    color: #4F8A10 !important;
    background-color: #DFF2BF !important;
	border-left: 2em solid #4F8A10;
}
.notice--warning {
    color: #9F6000 !important;
    background-color: #FEEFB3 !important;
	border-left: 2em solid #9F6000;
}
.notice--error {
    color: #D8000C !important;
    background-color: #FFD2D2 !important;
	border-left: 2em solid #D8000C;
}
.notice--danger {
    color: #FFFFFF !important;
    background-color: #FF0000 !important;
	border-left: 2em solid #FFFFFF;
}